
* text=auto
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.keystore binary
*.jar binary
*.aar binary
*.apk binary
*.sh text eol=lf
gradlew text eol=lf
**/gradlew text eol=lf
*.bat text eol=crlf
